<style>
  .email { text-align: center; width: 100%; height: 100%; background-color:
  #1f303f; padding: 5px 10px; border-radius: 10px; } .email h1 { color: #fff;
  padding: 10px 20px; margin: 0; padding-bottom: 30px; text-decoration:
  underline; } .email-content { padding: 10px 20px; color: #fff; display: flex;
  justify-content: space-between; } .visitor-location { min-width: 200px;
  min-height: 400px; margin: 0 20px; } .visitor-location img { min-width: 200px;
  min-height: 400px; } .visitor-info ul { margin: 0; padding: 0; } .visitor-info
  hr { margin: 30px 0; } .visitor-info ul li { text-align: right; list-style:
  none; display: flex; justify-content: space-between; margin: 10px 0;
  border-radius: 10px; padding: 5px 5px; border: solid 1px #000; box-shadow: 0
  2px 5px #000; } .visitor-info ul li b { text-align: left; font-size: 14pt;
  margin-right: 15px; } .visitor-info ul li img { width: 24px; height: 18px; }
  @media screen and (max-width: 768px) { .email-content { flex-direction:
  column; justify-content: center; } .visitor-location { margin-top: 30px;
  margin-left: auto; margin-right: auto; } .visitor-info ul li { flex-direction:
  column; text-align: center; justify-content: center; } .visitor-info ul li b {
  text-align: center; margin: 0; } }

</style>
<div class='email'>
  <h1>Visitor Info</h1>
  <div class='email-content'>
    <div class='visitor-info'>
      <ul>
        {{#if district}}
          <li><b>District:</b><span>{{district}}</span></li>
        {{/if}}
        {{#if city}}
          <li><b>City:</b><span>{{city}}</span></li>
        {{/if}}
        {{#if regionName}}
          <li><b>Region:</b><span>{{regionName}}</span></li>
        {{/if}}
        {{#if country}}
          <li>
            <b>Country:</b>
            <span>
              {{country}}
              <img src={{flag}} />
            </span>
          </li>
        {{/if}}
        {{#if continent}}
          <li><b>Continent:</b><span>{{continent}}</span></li>
        {{/if}}
        {{#if zip}}
          <li><b>Postal:</b><span>{{zip}}</span></li>
        {{/if}}
        {{#if timezone}}
          <li><b>Timezone:</b><span>{{timezone}}</span></li>
        {{/if}}
        {{#ifAnd lat lon}}
          <li><b>Coordinates:</b><span>Lat:[{{lat}}] Lon:[{{lon}}]</span></li>
        {{/ifAnd}}
        {{#if timestamp}}
          <li><b>Timestamp:</b><span>{{timestamp}}</span></li>
        {{/if}}
        <hr />
        {{#if query}}
          <li><b>IP Address:</b>{{query}}</li>
        {{/if}}
        {{#if origin}}
          <li><b>Origin:</b>{{origin}}</li>
        {{/if}}
        {{#ifOr os.name os.version ''}}
          <li><b>OS:</b>
            {{#if os.name}}{{os.name}}{{/if}}
            &nbsp;
            {{#if os.version}}{{os.version}}{{/if}}
          </li>
        {{/ifOr}}
        {{#ifOr browser.name browser.version ''}}
          <li><b>Browser:</b>
            {{#if browser.name}}{{browser.name}}{{/if}}
            &nbsp;
            {{#if browser.version}}{{browser.version}}{{/if}}
          </li>
        {{/ifOr}}
        {{#ifOr engine.name engine.version ''}}
          <li><b>Engine:</b>
            {{#if engine.name}}{{engine.name}}{{/if}}
            &nbsp;
            {{#if engine.version}}{{engine.version}}{{/if}}
          </li>
        {{/ifOr}}
        {{#ifOr device.vendor device.model device.type}}
          <li><b>Device:</b>
            {{#if device.vendor}}{{device.vendor}}{{/if}}
            &nbsp;
            {{#if device.model}}{{device.model}}{{/if}}
            &nbsp;
            {{#if device.type}}{{device.type}}{{/if}}
          </li>
        {{/ifOr}}
        {{#if cpu}}
          <li><b>CPU:</b>{{cpu.architecture}}</li>
        {{/if}}
        {{#if ua}}
          <li><b>User Agent:</b>{{ua}}</li>
        {{/if}}
        {{#if isp}}
          <li><b>ISP:</b> {{isp}}</li>
        {{/if}}
        {{#if org}}
          <li><b>Organization:</b>{{org}}</li>
        {{/if}}
        {{#if as}}
          <li><b>Auto Sys:</b>{{as}}</li>
        {{/if}}
        <li><b>Is Mobile:</b>{{#if mobile}}Yes{{else}}No{{/if}}</li>
        <li><b>Is Proxy:</b>{{#if proxy}}Yes{{else}}No{{/if}}</li>
        <li><b>Is Hosting:</b>{{#if hosting}}Yes{{else}}No{{/if}}</li>
      </ul>
    </div>
    <div class='visitor-location'>
      {{#if mapUrl}}
        <img src={{mapUrl}} alt='Visitor Map Location' />
      {{/if}}
    </div>
  </div>
</div>
